.heading {
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: var(--font-size-body-small);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
}

.board-name {
    padding-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-list {
    display: flex;
    flex-direction: column;
}

.board-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 0;
    font-weight: var(--font-weight-bold);
    cursor: pointer;

    &:not(.active):hover {
        margin-left: -32px;
        padding-left: 32px;
        background-color: var(--color-primary-100);
        color: var(--color-primary);
        border-top-right-radius: 999rem;
        border-bottom-right-radius: 999rem;

        body[data-theme="dark"] & {
            background-color: var(--color-white);
        }
    }

    &.active {
        margin-left: var(--board-item-active-offset, 0);
        padding-left: calc(-1 * var(--board-item-active-offset, 0px));
        background-color: var(--color-primary);
        color: var(--color-white);
        border-top-right-radius: 999rem;
        border-bottom-right-radius: 999rem;
    }
}

.create-board-button {
    display: block;
    width: 100%;
    color: var(--color-primary);
}
