.wrapper {
    min-width: 16px;
    min-height: 16px;
    display: grid;
    place-content: center;
    background-color: var(--color-background-primary);
    border: 1px solid var(--color-grey-medium-250);
    border-radius: 2px;

    &[data-state="checked"] {
        border: 1px solid var(--color-primary);
        background-color: var(--color-primary);
    }
}
