@value tabletAndSmaller, mobileAndSmaller from "../../breakpoints.module.css";

.wrapper {
    --sidebar-width: 300px;

    height: 100%;
    display: grid;
    grid-template:
        'header header' 96px
        'sidebar main' minmax(0, 1fr) / var(--sidebar-width) minmax(0, 1fr);

    @media tabletAndSmaller {
        --sidebar-width: 260px;

        grid-template-rows: 80px minmax(0, 1fr);
    }

    @media mobileAndSmaller {
        grid-template:
            'header' 64px
            'main' minmax(0, 1fr) / minmax(0, 1fr);
    }

    @media not mobileAndSmaller {
        &.sidebar-hidden {
            grid-template-areas:
                'header'
                'main';
            grid-template-columns: minmax(0, 1fr);
        }
    }
}

.main {
    grid-area: main;
}

.show-sidebar-button {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 24px;
    position: absolute;
    left: 0;
    bottom: 78px;
    width: 56px;
    height: 48px;
    background-color: var(--color-primary);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;

    &:hover {
        background-color: var(--color-primary-light);
    }
}
