.task-card {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--color-background-primary);
    border-radius: 8px;
    cursor: pointer;

    /* TODO: fix box shadow */
    box-shadow: 0 4px 6px var(--color-lines-dark-100);
}

.title {
    font-size: var(--font-size-heading-small);
    font-weight: var(--font-weight-bold);

    .task-card:hover & {
        color: var(--color-primary);
    }
}

.subtask-summary {
    font-size: var(--font-size-body-small);
    font-weight: var(--font-weight-bold);
}
