.wrapper {
    width: 280px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--color-background-primary);
    border-radius: 8px;
    cursor: pointer;
    touch-action: none;

    /* TODO: fix box shadow */
    box-shadow: 0 4px 6px var(--color-lines-dark-100);

    &.dragging {
        cursor: grabbing;
    }

    &.placeholder {
        background-color: var(--color-grey-medium-100);
        box-shadow: none;

        & * {
            visibility: hidden;
        }
    }
}

.title {
    font-size: var(--font-size-heading-small);
    font-weight: var(--font-weight-bold);

    .task-card:is(:hover, .dragging) & {
        color: var(--color-primary);
    }
}

.subtask-summary {
    font-size: var(--font-size-body-small);
    font-weight: var(--font-weight-bold);
}
