.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.description {
    display: block;
    width: 100%;
    resize: vertical;
    min-height: 8rem;
    max-height: 16rem;
    padding: 8px 16px;
    border: 1px solid var(--color-grey-medium-250);
    border-radius: 4px;
    background-color: var(--color-background-primary);
    color: var(--color-text-secondary);

    &::placeholder {
        opacity: 0.25;
    }

    &[aria-invalid="true"] {
        border-color: var(--color-danger);
    }
}
