.overlay {
    position: fixed;
    inset: 0;
    background-color: var(--color-black);
    opacity: 0.4;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    background-color: var(--color-white);
    padding: 32px;
    border-radius: 6px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.title {
    font-size: var(--font-size-heading-small);
    font-weight: var(--font-weight-bold);
}

.description {
    font-weight: var(--font-weight-medium);
    color: var(--color-grey-medium);
}

.section-heading {
    font-size: var(--font-size-heading-xsmall);
    font-weight: var(--font-weight-bold);
    color: var(--color-grey-medium);
    margin-bottom: 8px;
}
