.header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.task-actions-button {
    margin-right: -14px;
    min-width: 32px;
    display: grid;
    place-content: center;
}

.description {
    font-weight: var(--font-weight-medium);
    color: var(--color-grey-medium);
}

.subtask-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask-list-item {
    padding: 12px;
    background-color: var(--color-background-secondary);
    border-radius: 4px;
    font-size: var(--font-size-body-small);
    font-weight: var(--font-weight-medium);
    cursor: pointer;

    &:hover {
        background-color: var(--color-primary-250);
    }
}

.subtask-list-item-label {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: inherit;
    color: var(--color-text-secondary);
}

.subtask-list-item-label p.completed {
    text-decoration: line-through;
    color: var(--color-text-primary);
}
