.button {
    padding: 8px 24px;
    font-weight: var(--font-weight-bold);
    border-radius: 999rem;
    text-align: center;
    color: var(--color-white);

    &:disabled {
        opacity: 0.25;
        cursor: unset;
    }

    &.primary {
        background-color: var(--color-primary);

        &:not(:disabled):hover {
            background-color: var(--color-primary-light);
        }
    }

    &.secondary {
        color: var(--color-primary);

        body[data-theme="light"] & {
            background-color: var(--color-primary-100);

            &:not(:disabled):hover {
                background-color: var(--color-primary-250);
            }
        }

        body[data-theme="dark"] & {
            background-color: var(--color-white);
        }
    }

    &.destructive {
        color: var(--color-white);
        background-color: var(--color-red);

        &:not(:disabled):hover {
            background-color: var(--color-red-light);
        }
    }

    &.block {
        display: block;
        width: 100%;
    }

    &.large {
        padding-block: 12px;
    }
}
