.form-label {
    display: block;
    font-size: var(--font-size-heading-xsmall);
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
    color: var(--color-text-primary);

    body[data-theme="dark"] & {
        color: var(--color-text-secondary);
    }
}

.invalid-feedback {
    font-size: var(--font-size-body-small);
    color: var(--color-danger);
}
