@value tabletAndSmaller, mobileAndSmaller from "../../breakpoints.module.css";

.wrapper {
    grid-area: header;
    display: flex;
    background-color: var(--color-background-primary);
}

.sidebar-header {
    min-width: var(--sidebar-width);
    padding-inline-start: 32px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--color-lines);

    @media tabletAndSmaller {
        padding-inline-start: 24px;
    }

    @media mobileAndSmaller {
        display: none;
    }

    &.sidebar-hidden {
        min-width: 210px;
        padding-inline-start: 24px;
        border-bottom: 1px solid var(--color-lines);

        @media tabletAndSmaller {
            min-width: 200px;
        }
    }
}

.site-logo {
    padding: 15px;
    margin-left: -15px;
}

.mobile-site-logo {
    display: none;

    @media mobileAndSmaller {
        min-width: 24px;
        display: flex;
        align-items: center;
    }
}

.main-header {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;
    padding-inline: 24px;
    border-bottom: 1px solid var(--color-lines);

    @media mobileAndSmaller {
        gap: 16px;
        padding-inline: 16px;
    }
}

.board-header-wrapper {
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.board-heading {
    font-size: var(--font-size-heading-large);
    font-weight: var(--font-weight-bold);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media tabletAndSmaller {
        font-size: var(--font-size-heading-medium);
    }
}

.button-group {
    display: flex;
    align-items: center;
    gap: 16px;
}

.board-actions-button {
    width: 24px;
    display: grid;
    place-content: center;
}

.board-actions-popover-content {
    padding: 8px;
    width: 192px;
    border-radius: 8px;
    background-color: var(--color-background-primary);
    box-shadow: var(--color-lines-dark-100) 0 0 6px 0;

    &.hidden {
        display: none;
    }
}

.board-action-list {
    display: flex;
    flex-direction: column;
}

.board-action-button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: var(--font-weight-medium);

    &:hover {
        color: var(--color-primary);
        background-color: var(--color-primary-100);

        body[data-theme="dark"] & {
            background-color: var(--color-white);
        }
    }

    &.danger {
        color: var(--color-danger);
    }
}
