@value tabletAndSmaller from "../../breakpoints.module.css";

.wrapper {
    grid-area: header;
    display: flex;
    background-color: var(--color-background-primary);
}

.header-left {
    min-width: var(--sidebar-width);
    padding-inline-start: 32px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--color-lines);

    @media tabletAndSmaller {
        padding-inline-start: 24px;
    }

    &.sidebar-hidden {
        min-width: 210px;
        padding-inline-start: 24px;
        border-bottom: 1px solid var(--color-lines);

        @media tabletAndSmaller {
            min-width: 200px;
        }
    }
}

.site-logo {
    padding: 15px;
    margin-left: -15px;
}

.header-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
    border-bottom: 1px solid var(--color-lines);
}

.board-heading {
    font-size: var(--font-size-heading-large);
    font-weight: var(--font-weight-bold);

    @media tabletAndSmaller {
        font-size: var(--font-size-heading-medium);
    }
}

.button-group {
    display: flex;
    gap: 16px;
}

.board-actions-button {
    width: 24px;
    display: grid;
    place-content: center;
}

.board-actions-popover-content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 192px;
    border-radius: 8px;
    background-color: var(--color-background-primary);
    box-shadow: var(--color-lines-dark-100) 0px 0px 6px 0px;

    body[data-theme="dark"] & {
        background-color: var(--color-background-secondary);
    }
}

.board-action-button {
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: var(--font-weight-medium);

    &:hover {
        color: var(--color-primary);
        background-color: var(--color-primary-100);

        body[data-theme="dark"] & {
            background-color: var(--color-white);
        }
    }

    &.danger {
        color: var(--color-danger);
    }
}
