@value tabletAndSmaller from "../../breakpoints.module.css";

.wrapper {
    grid-area: header;
    display: flex;
}

.heading {
    font-size: var(--font-size-heading-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);

    @media tabletAndSmaller {
        font-size: var(--font-size-heading-medium);
    }
}

.header-logo {
    min-width: 300px;
    padding-inline: 32px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--color-lines-light);

    @media tabletAndSmaller {
        min-width: 260px;
        padding-inline: 24px;
    }
}

.header-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
    border-bottom: 1px solid var(--color-lines-light);
}

.button-group {
    display: flex;
    gap: 16px;
}

.board-actions-button {
    width: 24px;
    display: grid;
    place-content: center;
}
