.wrapper {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: var(--color-background-secondary);
    border-radius: 8px;
}

.theme-toggle {
    display: flex;
    position: relative;
    width: 40px;
    height: 20px;
    padding: 3px;
    border-radius: 999rem;
    background-color: var(--color-primary);

    &:hover {
        background-color: var(--color-primary-light);
    }
}

.theme-toggle input {
    position: absolute;
    opacity: 0;
    inset: 0;
    cursor: pointer;
}

.theme-toggle:has(input:checked) {
    justify-content: flex-end;
}

.theme-toggle-indicator {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 100%;
}
