@value mobileAndSmaller from "../../breakpoints.module.css";

.board {
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 24px;
    padding-bottom: 32px;
    overflow-x: auto;

    @media mobileAndSmaller {
        padding: 24px 16px 0;
    }
}
