.board {
    --column-gap: 24px;
    --task-list-scrollbar-padding: 4px;

    height: 100%;
    display: flex;
    gap: calc(var(--column-gap) - var(--task-list-scrollbar-padding));
    padding: 24px;
    padding-bottom: 32px;
    overflow-x: auto;
}

.column {
    display: flex;
    flex-direction: column;
    width: calc(280px + var(--task-list-scrollbar-padding));
    min-width: calc(280px + var(--task-list-scrollbar-padding));
}

.column-header {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: var(--font-size-body-small);
    font-weight: var(--font-weight-bold);
    color: var(--color-grey-medium);
}

.column-task-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: var(--task-list-scrollbar-padding);
    overflow-y: auto;
}
