@value mobileAndSmaller from "../../breakpoints.module.css";

.board {
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 24px;
    padding-bottom: 32px;
    overflow-x: auto;

    @media mobileAndSmaller {
        padding: 24px 16px 0;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.column-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 8px;
}

.column-heading {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: var(--font-size-body-small);
    font-weight: var(--font-weight-bold);
    color: var(--color-grey-medium);
}

.column-task-list {
    min-width: calc(280px + 16px);
    padding: 8px;
    padding-top: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.column-indicator {
    width: var(--font-size-body-small);
    height: var(--font-size-body-small);
    background-color: var(--color);
    border-radius: 50%;
    margin-right: 0.4rem;
}
