.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.task-actions-menu-button {
    margin-right: -6px;
    display: grid;
    place-content: center;
}

.description {
    font-weight: var(--font-weight-medium);
    color: var(--color-grey-medium);
}
