.wrapper {
    height: 100%;
    display: grid;
    place-content: center;
    background-color: var(--color-background-secondary);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    max-width: 400px;
    padding: 32px;
    border-radius: 6px;
    background-color: var(--color-background-primary);
}

.login-link {
    align-self: center;
    margin-top: 8px;
    font-size: var(--font-size-body-small);
    color: var(--color-primary-light);
    text-align: center;
    text-decoration: underline;

    &:hover {
        color: var(--color-primary);
    }

    body[data-theme="dark"] & {
        color: var(--color-primary);

        &:hover {
            color: var(--color-primary-light);
        }
    }
}

.header {
    align-self: center;
    margin-bottom: 24px;
}
